<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>631049844291-ahs06gmkbbdktvgbeos0quqc5rqv1q64.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.631049844291-ahs06gmkbbdktvgbeos0quqc5rqv1q64</string>
	<key>API_KEY</key>
	<string>AIzaSyDBKF374bF3AaqMefG94tbRQHI9sR_Jt4c</string>
	<key>GCM_SENDER_ID</key>
	<string>631049844291</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.leoho.GoogleDriveExample</string>
	<key>PROJECT_ID</key>
	<string>driveexample-af7fa</string>
	<key>STORAGE_BUCKET</key>
	<string>driveexample-af7fa.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:631049844291:ios:de9c355525dbbcfae986f6</string>
</dict>
</plist>